@import "../../Assets/globals/globals.scss";

.reset__password__page {
    @extend .background_style;

    .reset__password__page__wrapper {
        width: 580px;
        border-radius: 15px;
        box-shadow: 0px 60px 114px 0 #eff8ff;
        border: solid 1px #c5dced;
        background-color: #ffffff;
        padding: 80px 110px 47px;
    }

    h1 {
        color: #000000;
        font-family: Lato;
        font-size: 25px;
        font-weight: 700;
        line-height: 42.05px;
        text-align: center;
        margin: 42px 0 46px;
    }

    .logo_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px 0 13px;
    }

    .form_wrapper {
        width: 360px;
    }

    .submit__button {
        @extend .button_style;
        margin: 48px 0 35px;
    }

    .link_to {
        color: #aaaaaa;
        font-family: Lato;
        font-size: 25px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
        margin: 0 !important;
        a{
            text-decoration: none;
            color: #aaaaaa;
        }
    }
}
