.panel_part {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 6px 12px 0 rgba(29, 118, 187, 0.1);
  background-color: #1d76bb;
  padding: 20px 10px 0;

  .img_wrapper {
    width: 100%;
    padding: 0px 38px;
    margin-bottom: 40px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .avatar_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 9px 0 9px 12px;
    border-radius: 5px;
    background: #ffffff;

    .location {
      margin-left: 16px;
      img{
        margin-right: 5px;
      }
      h3{
        font-family: Rajdhani;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: var(--pure-black);
        margin: 0 !important;
      }
      div{
        font-family: Rajdhani;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: left;
        color: #52575d;
      }
    }

    .ant-avatar {
      background: white;

      img {
        border: 1px solid #f69226;
        border-radius: 40px;
        width: 64px;
      height: 64px;
      }
    }
  }

  .conversation_part{
    width: 100%;
    padding-left: 12px;
    margin: 41px 0 0 0 ;
    div{
      cursor: pointer;
      img{
        margin-right: 20px;
        width: 12px;
        height: 12px;
      }
      margin-bottom: 26px;
      font-family: Rajdhani;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.48px;
      text-align: left;
      color: #ffffff;
    }
  }

  .team_inbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 12px;
    .title{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      h2{
        font-family: Rajdhani;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.6px;
        text-align: left;
        color: #ffffff;
        margin: 0 !important;
      }
      hr{
        width: 135px;
        height: 1px;
        border: none;
        background: white;
      }
    }
    .simple__option{
      margin-bottom: 20px;
      font-family: Rajdhani;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.48px;
      text-align: left;
      color: #ffffff;
      cursor: pointer;
      img{
        margin-right: 20px;
        width: 12px;
        height: 12px;
      }
    }
  }

  .logout{
    width: 100%;
    padding: 20px 0 20px 12px;
    font-family: Rajdhani;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.48px;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    img{
      width: 12px;
      height: 12px;
      margin-right: 20px;
    }
  }
}