.input__wrapp {
    width: 100%;
    display: flex;
    flex-direction: column;

    .ant-input-prefix {
        width: 28px;
        height: 28px;
        margin: 13px 20px 20px 0;
    }

    .ant-input-affix-wrapper {
        display: flex;
        align-items: center;
        border: none;
        padding: 0;
        border-bottom: 1px solid #c5dced;
        border-radius: none !important;
    }

    .ant-input-affix-wrapper:hover{
        border-color: #c5dced;
    }

    .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
        box-shadow: none !important;
        border-color: #c5dced !important;
    }

    .ant-input {
        width: 100%;
        height: 30px;
        opacity: 0.5;
        font-family: Lato;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 5px;
    }

    .warning {
        text-align: end;
        color: red;
        height: 20px;
    }

    .hidden{
        visibility: hidden;
        height: 20px;
    }
}

.checkbox_wrap {
    display: flex;
    align-items: center;
    input {
        width: 25px;
        height: 25px;
        border-radius: 15px;
    }
    label {
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin-left: 16px;
    }
}

.radio_wrapper {
    .ant-radio-wrapper {
        margin: 0;
        display: flex;
        align-items: center;
    }
    .ant-radio {
        width: 25px;
        height: 25px;
        input {
            width: 25px;
            height: 25px;
        }
    }

    .ant-radio-inner {
        height: 25px;
        width: 25px;
        &:after {
            width: 15px;
            height: 15px;
            top: 4px;
            left: 4px;
        }
    }

    .ant-radio-wrapper > span:last-child {
        padding: 0 !important;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin-left: 16px;
    }
}
